.container {
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

form {
    flex: 1;
    text-align: left;
    color: white;
    margin-left: 3%;
    margin-top: 1%;

}
  
form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#button {
    margin-top: 20px;
    display: block;
}

#data {
    margin-top: 30px;
    overflow-wrap: break-word;
    width: 600px;
    height: 200px;
    padding: 10px;
}

#error {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

.default {
    border: 2px solid white;
}

.changed {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}